@model IEnumerable<UParking.Models.Vehicle1>

@{
    ViewData["Title"] = "ViewVehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewVehicle</h1>

<p>
    <a asp-action="AddVehicle">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vechid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vechname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vechno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehcolor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vechid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vechname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vechno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehcolor)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditVehicle", new { id = item.Vechid }) |             
                @Html.ActionLink("Delete", "DeleteVehicle", new { id = item.Vechid })
            </td>
        </tr>
}
    </tbody>
</table>
